$content-width: 40rem;
$breakpoint-xs: 440px;
$breakpoint-sm: 600px;
$alternative-color-font: #FFFFFF;
$site-background: #FFFEFE;
$site-secondary-color-one: #EFEFEF;
$site-secondary-color-two: #DCDCDC;
$background-footer: #505151;
$site-primary-color: #282A2E;
$breakpoint: 400px;
$dark-gray: #dcdcdc;


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.style-component {
  padding: 1rem;
}

.style-component h1 {
  border-right: 2px solid #ccc;
  padding: 0 0.5rem;
  border-left: 2px solid #ccc;
  display: inline-block;
}

.main-title {
  text-align: center;
}

@import '_logo.css.scss';

@import '_font.css.scss';

@import '_color-palette.css.scss';

@import '_table.css.scss';

@import '_gallery.css.scss';
