<h1 class="main-title">
  Scuole Parrocchiali Desio / Style guide
</h1>

<section class="style-component style-component--logo">
  <h1>Logo</h1>
  <p>
    L'idea che si vuole comunicare è di comunità educante, che sperimenta e abbraccia la diversità come elemento fortificante.
  </p>
  <p>
    Il puzzle esprime la complessità di questa visione e lo stile visuale minimale la rende accessibile.
  </p>
  <p>
    I colori del logo riprendono i colori delle sezioni comuni a tutti gli istituti.
  </p>
  <p>
    L'unione dei pezzi del puzzle rappresenta la comunità educante: bambini, genitori, istituto e contesto di riferimento.
  </p>
  <p>
    La disposizione peculiare dei pezzi del puzzle trasmette il legame di interdipendenza dei soggetti sopra menzionati.
  </p>
  <p>
    L'uso di un logo quadrato permette infine una buona versatilità di posizionamento all'interno della strategia di comunicazione online e offline.
  </p>
  <div class="logo-wrapper">
    <figure>
      <img src="images/logo.png" style="width: 200px" />
      <figcaption>200px</figcaption>
    </figure>
    <figure>
      <img src="images/logo.png" style="width: 150px" />
      <figcaption>150px</figcaption>
    </figure>
    <figure>
      <img src="images/logo.png" style="width: 100px" />
      <figcaption>100px</figcaption>
    </figure>
    <figure>
      <img src="images/logo.png" style="width: 50px" />
      <figcaption>50px</figcaption>
    </figure>
  </div>
</section>

<section class="style-component style-component--palette">
  <h1>Palette dei colori</h1>
  <p>
    Il design del sito si basa su una scala di grigi.
  </p>
  <p>
    Il logo, visibile in ogni fase della navigazione, diventa l'unico elemento <strong>strutturale</strong> dotato di colore.
  </p>
  <p>
    Le immagini presenti nei contenuti vengono conseguentemente risaltate.
  </p>
  <p>
    La scelta di un design minimale diventa un supporto adeguato alla fruizione di contenuti professionali.
  </p>

  <div class="color-grid">
    <div class="palette-color palette-color--photo-description-button-background-footer-text">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#FFFFFF</div>
      <div class="palette-color__description">Descrizione delle foto</div>
    </div>
    <div class="palette-color palette-color--site-background">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#FFFEFE</div>
      <div class="palette-color__description">Sfondo del sito</div>
    </div>
    <div class="palette-color palette-color--selected-button-background">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#E2E2E2</div>
      <div class="palette-color__description">Sfondo del bottone se selezionato</div>
    </div>
    <div class="palette-color palette-color--preview-text">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#D3D3D3</div>
      <div class="palette-color__description">Testo d'anteprima e link utilizzato</div>
    </div>
    <div class="palette-color palette-color--footer-background">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#505151</div>
      <div class="palette-color__description">Sfondo del footer e link selezionato</div>
    </div>
    <div class="palette-color palette-color--site-text">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#282A2E</div>
      <div class="palette-color__description">Testo e link</div>
    </div>
    <div class="palette-color palette-color--photo-background-timeline-icon">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#101010</div>
      <div class="palette-color__description">Sfondo della galleria e colore delle icone</div>
    </div>
    <div class="palette-color palette-color--primary-color-one">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#005080</div>
      <div class="palette-color__description">Colore primario #1</div>
    </div>
    <div class="palette-color palette-color--primary-color-two">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#47AB6C</div>
      <div class="palette-color__description">Colore primario #2</div>
    </div>
    <div class="palette-color palette-color--primary-color-three">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#F2B134</div>
      <div class="palette-color__description">Colore primario #3</div>
    </div>
    <div class="palette-color palette-color--primary-color-four">
      <div class="palette-color__preview"></div>
      <div class="palette-color__hex">#E2482E</div>
      <div class="palette-color__description">Colore primario #4</div>
    </div>
  </div>
</section>

<section class="style-component style-component--font">
  <h1>Font</h1>

  <h2>Titoli</h2>
  <p>
    Il font <a href="https://fonts.google.com/specimen/Bitter"> "Bitter"</a> sarà utilizzato per ogni titolo di sezione e post presente nel sito come nell'esempio  sottostante.
  </p>
  <div class="title">
    <h2 class="test-title" style=" font-size: 30px;">Punti di forza delle nostre scuole</h2>
    <p class="font-size">Dimensione font: 30px</p>
    <h2 class="test-title" style=" font-size: 25px;">Punti di forza delle nostre scuole</h2>
    <p class="font-size">Dimensione font: 25px</p>
    <h2 class="test-title" style=" font-size: 20px;">Punti di forza delle nostre scuole</h2>
    <p class="font-size">Dimensione font: 20px</p>
    <h2 class="test-title" style=" font-size: 15px;">Punti di forza delle nostre scuole</h2>
    <p class="font-size">Dimensione font: 15px</p>
  </div>

  <h2>Testo</h2>
  <p>
    Il font <a href="https://fonts.google.com/specimen/Libre+Baskerville"> "Libre Baskerville"</a> sarà impiegato per ogni altro tipo di testo presente nel sito.
  </p>

  <div class="text">
    <p class="test-text" style="font-size:18px; line-height: 1.5rem;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong>
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br>
      <strong>"San Giorgio": Giorno e orto didattico.</strong>
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br>
      <strong>"San Giuseppe": Progetto loose parts</strong>
      Per facilitare una didattica inclusiva e democratica a scuola.
      <strong>Progetto Interculturale</strong> dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...<br>
    </p>
    <p class="font-size">Dimensione font: 18px</p>

    <p class="test-text" style="font-size:15px; line-height: 1.2rem;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong>
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br>
      <strong>"San Giorgio": Giorno e orto didattico.</strong>
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br>
      <strong>"San Giuseppe": Progetto loose parts</strong>
      Per facilitare una didattica inclusiva e democratica a scuola.
      <strong>Progetto Interculturale</strong> dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...<br>
    </p>
    <p class="font-size">Dimensione font: 15px</p>

    <p class="test-text" style="font-size:13px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong>
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br>
      <strong>"San Giorgio": Giorno e orto didattico.</strong>
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br>
      <strong>"San Giuseppe": Progetto loose parts</strong>
      Per facilitare una didattica inclusiva e democratica a scuola.
      <strong>Progetto Interculturale</strong> dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...<br>
    </p>
    <p class="font-size">Dimensione font: 13px</p>

    <p class="test-text" style="font-size:11px;">
      <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong>
      Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br>
      <strong>"San Giorgio": Giorno e orto didattico.</strong>
      Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br>
      <strong>"San Giuseppe": Progetto loose parts</strong>
      Per facilitare una didattica inclusiva e democratica a scuola.
      <strong>Progetto Interculturale</strong> dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...<br>
    </p>
    <p class="font-size">Dimensione font: 11px</p>
  </div>
</div>
