<h1>
  Style guide
</h1>

<p>
Il font <a href="https://fonts.google.com/specimen/Bitter"> "Bitter"</a> sarà utilizzato per ogni titolo di sezione e post presente nel sito come nell'esempio sottostante.
</p>

<h2 class="title"> Title of the section </h2>

<p>
Il font <a href="https://fonts.google.com/specimen/Libre+Baskerville"> "Libre Baskerville"</a> sarà impiegato per ogni altro tipo di testo presente nel sito.
</p>

<p class="text">
  A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture, or a passage from the grander poets. It always does one good.
</p>
