<h1>
  Style guide
</h1>

<h2>Il logo</h2>

<p>
  L'idea che si vuole comunicare è di comunità educante e che sperimenta e abbraccia la diversità come elemento fortificante. Per questo motivo, come logo, è stato scelto un puzzle che,
  con un approccio minimale, comunica la diversità e la connessione tra i vari elementi menzionati sopra.
</p>

<div class="logo">
  <img src="images/logo.png" style=" height: max-content; width: 200px">
  <img src="images/logo.png" style=" height: max-content; width: 150px">
  <img src="images/logo.png" style=" height: max-content; width: 100px">
  <img src="images/logo.png" style=" height: max-content; width: 50px">
</div>

<h2>Color palette</h2>

<p>
  La scelta dei colori del sito ricade su una scala di grigi, per far risaltare i colori primari che formano il logo e per rendere il design più elegante e professionale.
</p>

<div class="color-grid">
  <div class="palette-color palette-color--photo-description-button-background-footer-text">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#FFFFFF</div>
    <div class="palette-color__description">Descrizione delle foto</div>
  </div>
  <div class="palette-color palette-color--site-background">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#FFFEFE</div>
    <div class="palette-color__description">Sfondo del sito</div>
  </div>
  <div class="palette-color palette-color--selected-button-background">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#E2E2E2</div>
    <div class="palette-color__description">Sfondo del bottone se selezionato</div>
  </div>
  <div class="palette-color palette-color--preview-text">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#D3D3D3</div>
    <div class="palette-color__description">Testo d'anteprima e link utilizzato</div>
  </div>
  <div class="palette-color palette-color--footer-background">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#505151</div>
    <div class="palette-color__description">Sfondo del footer e link selezionato</div>
  </div>
  <div class="palette-color palette-color--site-text">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#282A2E</div>
    <div class="palette-color__description">Testo e link</div>
  </div>
  <div class="palette-color palette-color--photo-background-timeline-icon">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#101010</div>
    <div class="palette-color__description">Sfondo della galleria e colore delle icone</div>
  </div>
  <div class="palette-color palette-color--primary-color-one">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#005080</div>
    <div class="palette-color__description">Colore primario #1</div>
  </div>
  <div class="palette-color palette-color--primary-color-two">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#47AB6C</div>
    <div class="palette-color__description">Colore primario #2</div>
  </div>
  <div class="palette-color palette-color--primary-color-three">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#F2B134</div>
    <div class="palette-color__description">Colore primario #3</div>
  </div>
  <div class="palette-color palette-color--primary-color-four">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#E2482E</div>
    <div class="palette-color__description">Colore primario #4</div>
  </div>
</div>

<div class="font">
  <h2>I font</h2>

  <p>
    Il font <a href="https://fonts.google.com/specimen/Bitter"> "Bitter"</a> sarà utilizzato per ogni titolo di sezione e post presente nel sito come nell'esempio  sottostante.
  </p>

  <h2 class="title" style=" font-size: 30px;">Punti di forza delle nostre scuole</h2>
  <h2 class="title" style=" font-size: 25px;">Punti di forza delle nostre scuole</h2>
  <h2 class="title" style=" font-size: 20px;">Punti di forza delle nostre scuole</h2>
  <h2 class="title" style=" font-size: 15px;">Punti di forza delle nostre scuole</h2>

  <p>
    Il font <a href="https://fonts.google.com/specimen/Libre+Baskerville"> "Libre Baskerville"</a> sarà impiegato per ogni altro tipo di testo presente nel sito.
  </p>

<div class="text">
  <p style="font-size:18px;">
    <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong>
    Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br>
    <strong>"San Giorgio": Giorno e orto didattico.</strong>
    Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br>
    <strong>"San Giuseppe": Progetto loose parts</strong>
    Per facilitare una didattica inclusiva e democratica a scuola.
    <strong>Progetto Interculturale</strong> dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...<br>
  </p>
  <p style="font-size:15px;">
    <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong>
    Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br>
    <strong>"San Giorgio": Giorno e orto didattico.</strong>
    Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br>
    <strong>"San Giuseppe": Progetto loose parts</strong>
    Per facilitare una didattica inclusiva e democratica a scuola.
    <strong>Progetto Interculturale</strong> dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...<br>
  </p>
  <p style="font-size:13px;">
    <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong>
    Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br>
    <strong>"San Giorgio": Giorno e orto didattico.</strong>
    Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br>
    <strong>"San Giuseppe": Progetto loose parts</strong>
    Per facilitare una didattica inclusiva e democratica a scuola.
    <strong>Progetto Interculturale</strong> dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...<br>
  </p>
  <p style="font-size:11px;">
    <strong>"San Vincenzo": L'Atelier dei 100 linguaggi.</strong>
    Luogo magico in cui i bambini hanno a disposizione tantissime varietà di materiale non strutturato (di recupero e scarto industriale), pedane delle costruttività, tavolo luminoso e cavalletti per la pittura in verticale.<br>
    <strong>"San Giorgio": Giorno e orto didattico.</strong>
    Progetto di potenziamento, dove lo spazio giardino diventa luogo di sperimentazione, osservazione e ricerca.<br>
    <strong>"San Giuseppe": Progetto loose parts</strong>
    Per facilitare una didattica inclusiva e democratica a scuola.
    <strong>Progetto Interculturale</strong> dall'a.s. 2018/2019 grazie alla partecipazione delle famiglie e ai mediatori culturali, prende forma il sogno di un mondo a colori...<br>
  </p>
</div>

</div>
