<h1>
  Style guide
</h1>

<h2>Color palette</h2>

<div class="color-grid">
  <div class="palette-color--photo-description-button-background-footer-text">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#FFFFFF</div>
    <div class="palette-color__description">Descrizione delle foto</div>
  </div>
  <div class="palette-color--site-background">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#FFFEFE</div>
    <div class="palette-color__description">Sfondo del sito</div>
  </div>
  <div class="palette-color--selected-button-background">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#E2E2E2</div>
    <div class="palette-color__description">Sfondo del bottone se selezionato</div>
  </div>
  <div class="palette-color--preview-text">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#D3D3D3</div>
    <div class="palette-color__description">Testo d'anteprima</div>
  </div>
  <div class="palette-color--footer-background">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#505151</div>
    <div class="palette-color__description">Sfondo del footer</div>
  </div>
  <div class="palette-color--site-text">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#282A2E</div>
    <div class="palette-color__description">Testo</div>
  </div>
  <div class="palette-color--photo-background-timeline-icon">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#101010</div>
    <div class="palette-color__description">Sfondo della galleria e colore delle icone</div>
  </div>
  <div class="palette-color--used-link">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#6549F8</div>
    <div class="palette-color__description">Link utilizzato</div>
  </div>
  <div class="palette-color--selected-link">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#9AB0F5</div>
    <div class="palette-color__description">Link selezionato</div>
  </div>
  <div class="palette-color--link">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#1C60E8</div>
    <div class="palette-color__description">Link</div>
  </div>
  <div class="palette-color--primary-color-one">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#005080</div>
    <div class="palette-color__description">Colore primario #1</div>
  </div>
  <div class="palette-color--primary-color-two">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#47AB6C</div>
    <div class="palette-color__description">Colore primario #2</div>
  </div>
  <div class="palette-color--primary-color-three">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#F2B134</div>
    <div class="palette-color__description">Colore primario #3</div>
  </div>
  <div class="palette-color--primary-color-four">
    <div class="palette-color__preview"></div>
    <div class="palette-color__hex">#E2482E</div>
    <div class="palette-color__description">Colore primario #4</div>
  </div>
</div>

<div class="font">
  <h2>I font</h2>

  <p>
    Il font <a href="https://fonts.google.com/specimen/Bitter"> "Bitter"</a> sarà utilizzato per ogni titolo di sezione e post presente nel sito come nell'esempio  sottostante.
  </p>

  <h2 class="title"> Title of the section </h2>

  <p>
    Il font <a href="https://fonts.google.com/specimen/Libre+Baskerville"> "Libre Baskerville"</a> sarà impiegato per ogni altro tipo di testo presente nel sito.
  </p>

  <p class="text">
    A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture, or a passage from the grander poets. It always does one good.
  </p>
</div>
