<h1 class="title"> Style guide </h1>

<p class="text">
  A peep at some distant orb has power to raise and purify our thoughts like a strain of sacred music, or a noble picture, or a passage from the grander poets. It always does one good.
</p>
